html, body{
    height:100%;
}

body{
    background-image: url("http://i63.tinypic.com/2cood9w.jpg");
    text-align: center;
}

#main-container{
    margin: 4% auto;
    background-color: slategray;
    width:1000px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

#container{
    position: relative;
    top: 6%;
}

#title {
    height: 400px;
}
   
button{
    display:block;
    width:50%;
    height:20%;
    margin: 0 auto;
    border:none;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background:transparent;
    font-size: 40px;
}

#start{
    margin-top: 6%;
    font-family: 'Alfa Slab One', cursive;
    color: white;
    background: rgb(37, 18, 10);
    border: 10px dotted rgb(228, 173, 22);
    border-radius: 5px;
}

#start:hover {
    border:10px dotted rgb(228, 173, 22);
    color: black;
    background: white;
    border-radius: 5px;
}

/* answers */
button:hover {
    border:10px dotted rgb(228, 173, 22);
    color: white;
    background: rgb(37, 18, 10);
    border-radius: 5px;
}

img{
    height:300px;
}
/* time remaining */
/* question prompt */
h2{
    font-size: 35px;
    margin-bottom: 15px;
    padding-top: 10px;
    color: rgba(243, 92, 36, 0.856);
    font-family: "Alfa Slab One", cursive;
}

/* answers */
/* final scores */
h3{
    font-size: 25px;
    margin-bottom: 10px;
    color: rgba(243, 92, 36, 0.856);
}

.footer {
    text-align: center;
    padding-top: 30px;
    color: rgba(243, 92, 36, 0.856);
    background: rgb(37, 18, 10);
    border-top: solid 10px rgba(243, 92, 36, 0.856);
    font-size: 24px;
    font-family: 'Bangers';
    margin-top: 140px;
}