
html, body{
    height:100%;
}

body{
    background-image: url("/assets/images/background-1.jpg");
    text-align: center;
}

#main-container{
    margin: 4% auto;
    background-color: darkcyan;
    width:1000px;
    height: 95%;
    box-sizing: border-box;
    border-radius: 5px;
}

#container{
    position: relative;
    top:15%;
}


#title {
    height: 300px;
    margin-bottom: 0px;
}
   
button{
    display:block;
    width:50%;
    height:20%;
    margin: 0 auto;
    border:none;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background:transparent;
    font-size: 42px;
    background: darkcyan;
}

#start{
    margin-top: 10%;
    font-family: 'Alfa Slab One', cursive;
    color: rgba(243, 92, 36, 0.856);
    background: darkgray;
    border-radius: 5px;
}

#start:hover {
    border:5px solid darkgrey;
    color: darkcyan;
    background: black;
    border-radius: 5px;
}

/* answers */
button:hover {
    border:5px solid darkgrey;
    color: lightskyblue;
    background: white;
}

img{
    height:300px;
}

/* time remaining */
/* question prompt */
h2{
    font-size: 35px;
    margin-bottom: 15px;
    padding-top: 10px;
    color: rgba(243, 92, 36, 0.856);
    font-family: "Alfa Slab One", cursive;
}

/* answers */
/* final scores */
h3{
    font-size: 25px;
    margin-bottom: 10px;
    color: rgba(243, 92, 36, 0.856);
}

.footer {
    text-align: center;
    padding-top: 30px;
    color: rgba(243, 92, 36, 0.856);
    background: darkcyan;
    border-top: solid 10px rgba(243, 92, 36, 0.856);
    font-size: 24px;
    font-family: 'Bangers';
    margin-top: 140px;
}